<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
 
<div >
<p>学号: <span th:text="${student.id}" >学号</span>. </p> 
<p>姓名: <span th:text="${student.name}" ></span>. </p> 
<p>年龄: <span th:text="${student.age}" ></span>. </p>
<p>班级: <span th:text="${student.classs}" ></span>. </p>
<p th:each="book : ${student.books}">书籍: [编号:<span th:text="${book.number}" ></span>.名称: <span th:text="${book.bookname}" ></span>.价格:<span th:text="${book.price}" ></span>]</p>  
</div>
</body>
</html>