<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>


<div th:each="teacher : ${teachers}">
<p>工号: <span th:text="${teacher.id}" ></span>. </p> 
<p>姓名: <span th:text="${teacher.name}" ></span>. </p> 
<p th:each="pupil : ${teacher.pupils}">学生: [学号:<span th:text="${pupil.no}" ></span>&nbsp;&nbsp;&nbsp;&nbsp; 姓名: <span th:text="${pupil.name}" ></span>&nbsp;&nbsp;&nbsp;&nbsp;性别:<span th:text="${pupil.sex}" ></span>]</p>  
</div>
</body>
</html>